@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #38bdf8;
}


@theme{
  --color-background: var(--background);
  --color-themeBlue: #38bdf8;
  --font-main: var(--font-inter)
}

*{
   font-family: var(--font-inter), system-ui, sans-serif;
}


body {
  background: var(--background);
}
