@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #38bdf8;
  --font-main: 'Inter', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-themeBlue: #38bdf8; 
}

* {
  font-family: var(--font-main), system-ui, sans-serif;
}

body {
  background: var(--background);
}
